@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-family-sans: 'Inter', sans-serif;
	--font-family-heading: 'Bricolage Grotesque', sans-serif;

	--breakpoint-lg: 1200px;
}

@layer base {
	html {
		@apply !overflow-y-scroll text-sm md:text-base;
	}

	body {
		@apply !pr-0;
	}

	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-gray-200 dark:border-gray-800;
	}

	:root {
		--ui-radius: var(--radius-md);
	}
}

@layer utilities {
	.container {
		@apply mx-auto max-w-5xl px-5 lg:px-0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-family-heading);
		@apply font-bold;
	}

	h1,
	.h1-like {
		@apply text-3xl font-bold tracking-tighter mb-3 lg:mb-4;
	}

	h2,
	.h2-like {
		@apply text-xl font-bold tracking-tight mb-3;
	}
}
